<div class="jumbotron dash_jumbo m-1">
   <div class="d-flex align-items-start justify-content-center">
  <h1 class="display-1 dash_header">Market</h1>  
  </div>
  
  </div>


<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 justify-content-around">


<%# accessing data in view becuase of loop making it faster as alternative is storing array of values in controller and passing them through %>
<%# the loop is looking through each listing and finding skin data based off of the v.skin_id and then dot relevant information %>

<% @random_listings.each do |v|%>  

<%# if seller_id == profile_id dont show %> 
<%begin%>  
<% if v.seller_id != Profile.find_by(user_id: current_user.id).id %>

<div class="row m-3 py-3 d-flex justify-content-center card"> 
<%=Skin.find(v.skin_id).name%>  
<br> 
<%= Skin.find(v.skin_id).wear%>  
<%= image_tag("http:\/\/cdn.steamcommunity.com\/economy\/image\/#{Skin.find(v.skin_id).icon_url}", class:"img-fluid img-thumbnail item_background my-2 no_border",style: "box-shadow: -1px 0px 10px -1px ##{Skin.find(v.skin_id).rarity_color.to_s};")%> 
Average Price: $<%=Skin.find(v.skin_id).average_price%>   
<br> 
Sellers Price: $<%= v.selling_price%>    
<br> 
Seller: <%= Profile.find(v.seller_id).username%> 
<center><%= link_to "buy", market_path(v), class:"sell w-25 mt-2"%><center>
</div>  
 <%end%>  
 <%rescue%>   
 <div class="row m-3 py-3 d-flex justify-content-center card"> 
<%=Skin.find(v.skin_id).name%>  
<br> 
<%= Skin.find(v.skin_id).wear%>  
<%= image_tag("http:\/\/cdn.steamcommunity.com\/economy\/image\/#{Skin.find(v.skin_id).icon_url}", class:"img-fluid img-thumbnail item_background my-2 no_border",style: "box-shadow: -1px 0px 10px -1px ##{Skin.find(v.skin_id).rarity_color.to_s};")%> 
Average Price: $<%=Skin.find(v.skin_id).average_price%>   
<br> 
Sellers Price: $<%= v.selling_price%>    
<br> 
Seller: <%= Profile.find(v.seller_id).username%> 
<center><%= link_to "buy", market_path(v), class:"sell w-25 mt-2"%><center>
</div>  
 <%end%> 
<%end%>  

</div> 
</div> 
</div>