<p id="notice"><%= notice %></p>

<h1>Items</h1>

<% @current_user_skins.each do |v|%> 
<ul>
<li>Name:<%=Skin.find(v).name%></li>  
<li>Wear:<%=Skin.find(v).wear%></li>  
<%= image_tag "http:\/\/cdn.steamcommunity.com\/economy\/image\/#{Skin.find(v).icon_url}"%>
<li>Average Price: $<%=Skin.find(v).average_price%></li>  
<li>Weapon Type: <%= Skin.find(v).weapon_type%></li>  
</ul>
<% end%>