<p id="notice"><%= notice %></p>

<p>
  <strong>Skin name:</strong>
  <%= @item.skin_name %>
</p>

<p>
  <strong>Market price:</strong>
  <%= @item.market_price %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @item.profile_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @item.listing_id %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @item.rarity %>
</p>

<p>
  <strong>Stat track:</strong>
  <%= @item.stat_track %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
